* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
#time{				position: fixed;
				top: 115px;
				left: 50%;
				margin-left: -200px;
				
				width: 200px;
				text-align: center;
				transition: all 0.25s;}
		#time p{
			color:coral;
			
			font-size: 36px;
			font-weight: bold;
			line-height: 20px;
		}
