* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
#time{position: fixed;
				top: 115px;
				left: 50%;
				/* margin-left: -47.5px; */
				margin-left: -50px;
				width: 100px;
				text-align: center;
				transition: all 0.25s;}
		#time p{
			font-size: 36px;
			font-weight: lighter;
			line-height: 20px;
		}
*{
			margin: 0;
			padding: 0;
			list-style: none;
			text-decoration: none;
			color: white;
			text-align: center;	}
		.background{
		    width:100%;  
		    height:100%;  /**宽高100%是为了图片铺满屏幕 */
		    z-index:-1;
			background: url(img/background.png);
		    position: absolute;
		}
		#navigate{
			width: 80%; 
			height: 50px;
			margin: auto;
			background-color: rgba(205,104,57,0.8) ;
		}
		.labels{
			border-bottom:solid gainsboro 1px;
			float: left;
			width: 25%;
			line-height: 50px;
			font-size: 20px;
			}
		.tab{
			display: none;
			background-color:rgba(238,118,33,0.8);
			overflow:auto; 
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			font-size: 16px;
			line-height: 40px;
			}
		/*美化滚动条*/
		.tab::-webkit-scrollbar-track {
			-webkit-box-shadow:inset 0 0 3px rgba(238,118,33,0.3);
			background-color:#F5F5F5;
		}
		.tab::-webkit-scrollbar {
			width:5px;
			background-color:#font: 5px F5 F5;
		}
		.tab::-webkit-scrollbar-thumb {
			background-color:#CD6839;
			border:2px solid #CD6839;
		}
